---
import "../styles/global.css";
import BackgroundTitle from "../components/BackgroundTitle.astro";
import GithubIcon from "../components/GitHubIcon.astro";
import { AstroSeo } from "@astrolib/seo";

const {
  header = "",
  title = "",
  nameInTitle,
  description,
  canonical,
  noindex,
  nofollow,
} = Astro.props as {
  header: string;
  title?: string;
  nameInTitle?: boolean;
  description?: string;
  canonical?: string;
  noindex?: boolean;
  nofollow?: boolean;
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <AstroSeo
      title={nameInTitle
        ? `Chaitanya Sharma | ${title || header}`
        : title || header}
      {description}
      {canonical}
      {noindex}
      {nofollow}
    />
    <style>
      * {
        font-display: swap;
      }
    </style>
  </head>

  <body
    class="flex flex-col min-h-screen bg-white dark:bg-surface-950 text-fg-950 dark:text-fg-200"
  >
    {header && <BackgroundTitle text={header} />}
    <main
      id="main-content"
      tabindex="-1"
      class="flex-1 relative z-1
        mx-8 sm:mx-36
        mt-12 sm:mt-40
        mb-8 sm:mb-24
        max-w-[70ch]
        leading-relaxed"
    >
      <slot />
    </main>
    <div id="toast-root"></div>
    <footer
      class="flex flex-row
        items-center sm:items-baseline gap-4
        justify-center sm:justify-start
        mb-5 sm:ml-12"
    >
      <a
        href="https://github.com/Chaitanyabsprip/Chaitanyabsprip"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="View source on GitHub"
        class="inline-block mt-1"
      >
        <GithubIcon />
      </a>
      <span
        class="flex flex-col sm:flex-row sm:gap-2 items-start text-gray-500 text-xs sm:text-md"
      >
        <span>© {new Date().getFullYear()} Chaitanya Sharma</span>
        <span class="hidden sm:inline">|</span>
        <span>All rights reserved.</span>
      </span>
    </footer>
  </body>
</html>

<!-- <script src="../scripts/keyboard.ts"> </script> -->
