---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import Prose from "../components/Prose.astro";
const { title, subtitle, pubDate, author, image, description } = Astro.props;
const formattedDate = pubDate
  ? new Date(pubDate).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : "";
---

<Layout
  header="BLOG"
  {title}
  nameInTitle
  description={description || subtitle}
  canonical={Astro.url.href}
>
  <Nav />
  <h1 class="text-2xl sm:text-3xl font-bold mb-2">{title}</h1>
  <p><em>{subtitle}</em></p>
  <p>{formattedDate}</p>
  {author && <p>Written by: {author}</p>}
  {image && image.url && <img src={image.url} width="300" alt={image.alt} />}
  <Prose>
    <slot />
  </Prose>
</Layout>
